{% extends "wrapper.twig" %}

{% block content %}
<p>Hi,</p>

<p>{{ display_name }} has made a payment. Here are the details:</p>

<table class="info" cellpadding="6">
    <tbody>
        <tr>
            <th align="left">Payer Name</th>
            <td>{{ payer_name }}</td>
        </tr>
        <tr>
            <th align="left">Payer Email</th>
            <td>{{ payer_email }}</td>
        </tr>
        <tr>
            <th align="left">Payment Date</th>
            <td>{{ payment_date }}</td>
        </tr>
        <tr>
            <th align="left">Transaction ID</th>
            <td>{{ transaction_id }}</td>
        </tr>
        <tr>
            <th align="left">Paid Amount</th>
            <td>{{ payment_amount }}</td>
        </tr>
        <tr>
            <th align="left">Points Credited</th>
            <td>{{ credit_amount }}</td>
        </tr>
    </tbody>
</table>

<br>
<p>Thanks,<br>- Support Team</p>
{% endblock %}