{% extends "wrapper.twig" %}

{% block content %}
<p>Hi, {{ display_name }} </p>

<p>Thank you for your payment. We have transffered {{ credit_amount }} credits to your account.</p>

<table class="info" cellpadding="6">
    <tbody>
        <tr>
            <th align="left">Payment Date</th>
            <td>{{ payment_date }}</td>
        </tr>
        <tr>
            <th align="left">Transaction ID</th>
            <td>{{ transaction_id }}</td>
        </tr>
        <tr>
            <th align="left">Paid Amount</th>
            <td>{{ payment_amount }}</td>
        </tr>
        <tr>
            <th align="left">Points Credited</th>
            <td>{{ credit_amount }}</td>
        </tr>
    </tbody>
</table>

<br>
<p>Thanks,<br>- Support Team</p>
{% endblock %}